The specific files and directories we don't want to format
*.lock
*.log
.env
.env.*
.git/
dist/
build/
Hiddify/
node_modules/
edge/waste/
warp.json
result.csv
package.json
pyproject.toml
eslint.config.js
package-lock.json
edge/assets/wow-template.json
boringtun-boringtun-cli-0.5.2/
