# The files  we don't want to format
dist/
build/
*.lock
*.log
.env
.env.*

result.csv
warp.json
Endpoints.csv
LB.js
unob.js
WarpOnWarp.json
DNS.js


# Specific directories
.github/
DNS over HTTPS/
project-root/
sub/
