# The files we don't want to format
## Specific directories

.env
dist/
*.log
.env.*
build/
*.lock
Hiddify/
warp.json
result.csv
.eslintrc.js
package.json
node_modules/
.eslintignore
.prettierrc.js
pyproject.toml
DNS over HTTPS/
package-lock.json
boringtun-boringtun-cli-0.5.2/
.github/workflows/nixOS.yml
.github/workflows/prettier.yml
